body{
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(250, 220, 69, 0.815);

}

  
  h1,
  input {
    display: flex;
    justify-content: center;
  }

.add-task{
  display: flex;
  justify-content: center;
  align-items: center;
}

.myList #user-new-todo-input{
  width: 300px;
  height: 40px;
}

.myList button{
  color: white;
  background-color: rgb(37, 201, 37);
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 4px ;
  border: 0;
}

.my-task{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid black;
  font:bold;
}

.my-task .my-checkbox{
  order: -1;
}

.my-task button{
  border-radius: 5px;
  font-size: 15px;
  padding:5px ;
  color: red;
  background-color: rgba(250, 220, 69, 0.815);
  border: 0;
}

.my-task button:hover{
  font-size: 20px;
}


.good-luck{
  display: flex;
  justify-content: flex-end;
}
